<div class="Captcha" [id]="apiResponse.CaptchaId">
  <img alt="captcha" id="CaptchaImg" name="CaptchaImg" [src]="apiResponse.CaptchaImgUrl"
    style="margin-bottom: 4px;">
  <a class="glyphicon glyphicon-refresh btn-sm" style="cursor: pointer" id="CaptchaRefreshButton"
    name="CaptchaRefreshButton" (click)="doRefresh()"></a>
  <input [id]="hiddenInputName" [name]="hiddenInputName" type="hidden" [value]="apiResponse.CaptchaTextValue">
  <div class='input-group col-md-4'>
    <span class='input-group-addon'>
      <span class='glyphicon glyphicon-lock'></span>
    </span>
    <input autocomplete="off" class="text-box single-line form-control col-md-4" dir="ltr"
      [id]="inputName" [name]="inputName" [placeholder]="placeholder" type="text" [(ngModel)]="inputText"
      (change)="onInputTextChange()">
  </div>
  <input [id]="hiddenTokenName" [name]="hiddenTokenName" type="hidden" [value]="apiResponse.CaptchaTokenValue">
</div>
